button{
    background-image: linear-gradient(rgb(58, 167, 255), rgb(101, 172, 230), rgb(7, 112, 198));  
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 8px;
    border-radius: 6px;
    border: none;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor:pointer;  
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
